<div ng-controller="myctrl">
    <form action="" method="" name="formDK" ng-submit="onSubmitForm($event)">
        <div class="row pt-3 p-3">
            <div class="form-group col-sm-6">
                <label> Họ Và Tên <span class="text-danger">*</span> </label>
                <input type="text" name="fullname" id="fullname" class="form-control mt-2" ng-model="student.fullname"
                    autocomplete="off" required>
                <small class="text-danger" ng-hide="formDK.fullname.$untouched || formDK.fullname.$valid">
                    Không được để trống
                </small>
            </div>
            <div class="form-group col-sm-6">
                <label> Tài Khoản </label>
                <input type="text" name="username" id="username" class="form-control mt-2" ng-model="student.username"
                    autocomplete="off" required>
                <small class="text-danger" ng-hide="formDK.username.$untouched || formDK.username.$valid">
                    Không được để trống
                </small>
            </div>
        </div>
        <div class="row pt-3 p-3">
            <div class="form-group col-sm-6">
                <label> Mật Khẩu <span class="text-danger">*</span> </label>
                <input class="form-control mt-2" type="password" name="password" id="password"
                    ng-model="student.password" autocomplete="off" required>
                <small class="text-danger" ng-hide="formDK.password.$untouched || formDK.password.$valid">
                    Không được để trống
                </small>
            </div>
            <div class="form-group col-sm-6">
                <label> Email <span class="text-danger">*</span> </label>
                <input type="email" class="form-control mt-2" name="email" id="email" ng-model="student.email"
                    autocomplete="off" required>
                <div class="text-danger" ng-hide="formDK.email.$untouched || formDK.email.$valid">
                    <small ng-show="formDK.email.$error.required"> Không được để trống </small>
                    <small ng-show="formDK.email.$error.email"> Không đúng định dạng Email </small>
                </div>
            </div>
        </div>
        <div class="row pt-3 p-3">
            <div class="form-group col-sm-6">
                <label> Giới Tính </label>
                <div class="row p-3">
                    <div class="col-3 form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                            value="true" ng-model="student.gender" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Nam
                        </label>
                    </div>
                    <div class="col-3 form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            value="false" ng-model="student.gender" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Nữ
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label> Ngày Sinh </label>
                <input class="form-control mt-2" type="text" name="birthday" id="birthday" ng-model="student.birthday"
                    autocomplete="off" required>
                <small class="text-danger" ng-hide="formDK.birthday.$untouched || formDK.birthday.$valid">
                    Không được để trống
                </small>
            </div>
        </div>
        <div class="form-group mt-3">
            <button class="btn btn-primary">Lưu</button>
            <button type="button" ng-click="clear()" class="btn btn-success">Mới</button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-delete-confirm-1"
                type="button">Xóa</button>
            <!-- modal -->
            <div class="modal fade text-dark" id="modal-delete-confirm-1" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Xác nhận xóa sinh viên
                            </h5>
                            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Bạn muốn xóa bản ghi này?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Hủy</button>
                            <button ng-click="onDelete()" class="btn btn-danger" type="button"
                                data-bs-dismiss="modal">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="button" ng-click="update()">Sửa</button>
        </div>
    </form>
    <div class="col-12">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Họ tên</th>
                    <th>Tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Email</th>
                    <th>Giới Tính</th>
                    <th>Ngày sinh</th>
                    <th colspan="2">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="st in students">
                    <td>{{ st.id }}</td>
                    <td>{{ st.fullname }}</td>
                    <td>{{ st.username }}</td>
                    <td>{{ st.password }}</td>
                    <td>{{ st.email }}</td>
                    <td>{{ st.gender }}</td>
                    <td>{{ st.birthday }}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="cellclick(st.id)">chọn</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>